<!DOCTYPE html>
<html>
<head>
  <title>Campuses</title>
</head>
<body>
  <h1>Student Campus List</h1>
    <p>
      <% list = "" %>
      <% @students.each do |student| %>
        <% if !list.include? "#{student['campus']}" %>  
          <% list << "#{student['campus']} " %> 
        <% end %>
      <% end %>
      <%= list %> 
    </p>
    <form action="/students/campuses" method="POST">
      <input type="text" name="campus" placeholder="Campus">
    </form>

</body>
</html>