section#contact-info {
font-size: 0.8em;
}
.job {
  background-color:#e9e5dc;
  padding:20px;
  margin-bottom: 10px;
    border-radius: 25px;
}
.accomp {
  font-size: 0.8em;
}
p:hover {
    color: #FF00FF;
}

ul > li {
  background-color: red;
}