
#octo {
  display: block;
  margin: auto;
  position: relative;
  z-index: -1;

}

#glasses {
  display: block;
  margin: auto;
  position: relative;
  top: -180px;
  left:5px;
  z-index: 1;
}

#hat {

  display: block;
  margin: auto;
  position: relative;
  top: -400px;
  left: 18px;
  z-index: 0

  
}