
img#octo {
  position: absolute;
  /*display:block;*/
  margin-left: 40%;
  margin-right: 10%;
  margin-top: 50px;
  z-index: -1;

}

img#glasses {
  position: absolute;
  /*display:block;*/
  top:160px;
  left:46%;
}

img#hat {

  position: absolute;
  /*display:block;*/
  top: -20px;
  left: 40%;

  
}